@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins';
}


.search-bar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-bar img {
    padding: 5px;
}


.container{
    display: flex;
    flex-direction: row;
}

main{
    width: 100%;
    justify-content: center;
}

.navbarIcon svg{
  height: 20px;
  margin: 5px;
}

.subCategoriesContainer{
  width: 100%;
  z-index: 100;
  position: sticky;
  top: 0;
}

.subCategories{
  width: 100%;
  position: absolute;
  background-color: white;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: row;
  overflow: auto;
  z-index: 100;

}

.subCategories::-webkit-scrollbar {
  display: none;
}


.subCategoriesBtn{
  color: white;
  margin: 10px;
  padding: 5px;
  background-color: black;
  border-radius: 9px;
}

.cardsContainer{
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: center;
}



/*_________________________card_____________________________________________*/

.card{
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    margin: 20px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    border-radius: 17px;
    text-align: center;
    transition: all 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
  }
  
  .card:hover {
    border: 2px solid #08a88a;
    transform: scale(1.05);
  }
    
  .card img{
    height: 40%;
    padding: 10%;
  }

/*_________________________card_____________________________________________*/






  /* Apply styles to the entire aside element */
aside {
  height: 100vh;
  background-color: #fff;
  width: 270px;
  border-left: 2px solid black;
  border-right: 2px solid black;
  position: sticky;
  top: 0;
}

/* Apply styles to the sidebar container */
.sidebar-left {
  display: flex;
  flex-direction: column;
}
  .sidebar-left a:hover {
    color: #08a88a;
  }
  


  .dropdown{
    display: none;
    padding: 10px;
  }

  .dropdown a{
    display: block;
    padding: 5px;
  }

  .mainCategories{
    display: flex;
    flex-direction: column;
  }

  .mainCategoriesBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Poppins;
    padding: 10px;
  }

.mainCategoriesBtn svg{
    fill: #08a88a;  
    padding: 5px;
}

.mainCategoriesBtn b{
  font-weight: bold;
  padding: 5px;
}

  .mainCategories:hover .dropdown{
    display: block;
  }
  @keyframes flickerAnimation { /* flame pulses */
    0%   { opacity:1; }
    50%  { opacity:0.5; }
    100% { opacity:1; }
  }  

  .mainCategoriesBtn:hover svg{
    opacity:1;  
    animation: flickerAnimation 2s infinite;
  }



  









  .sidebar-right{
    position: sticky;
    right: 0;
    z-index: 101;
  }
  

  .cart-items {
    height: 100%;
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    overflow-y: auto; /* Add scroll for cart items */
  }
  
  /* Apply styles to each cart item */
  .cart-items li {
    margin-bottom: 10px;
  }
  
  
  /* Apply styles to the checkout section */
  .checkout {
    width: auto;
    padding: 10px;
    position: sticky;
    bottom: 0; /* Stick to the bottom */
    border-top: 2px solid black;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  /* Apply styles to the total price */
  #total-price {
    font-weight: bold;
  }
  

  
  .checkoutBtn {
    background: #A370F0;
    color: white;
    width: 100%;
    height: 40px;
    padding:10px;
    border-radius: 9px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .checkoutBtn .icon {
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin-left: auto;
    border-radius: 9px;
    transition: all 0.3s;
  }
  
  .checkoutBtn:hover .icon {
    width: calc(100% - 10px);
  }
  
  .checkoutBtn .icon svg {
    width: 70%;
    transition: transform 0.3s;
    color: #7b52b9;
  }
  
  
  .checkoutBtn:active .icon {
    transform: scale(0.95);
  }
  










  .cart-placeholder {
    list-style: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
  }
  
  .placeholder-box {
    width: 100%;
    height: 40px; /* Set the height of the placeholder box */
    background-color: #ddd;
  }
  














  /* Apply styles to the header */
header {
    background-color: #f7f7f7;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
  }
  
  .search-bar img {
    margin-right: 10px;
  }
  
  .input {
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px 10px;
  }
  
  


















  .CartBtn {
    width: 140px;
    height: 40px;
    border-radius: 12px;
    border: none;
    background-color: #08a88a;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: .5s;
    overflow: hidden;
    position: relative;
  }
  
  .IconContainer {
    position: absolute;
    left: -50px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: .5s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 17, 17);
    z-index: 1;
    transition-duration: .5s;
    font-size: 1.04em;
    font-weight: 600;
  }
  
  .CartBtn:hover .IconContainer {
    transform: translateX(58px);
    border-radius: 40px;
    transition-duration: 0.3s;
  }
  
  .CartBtn:hover .text {
    transform: translate(10px,0px);
    transition-duration: .7s;
  }
  
  .CartBtn:active {
    transform: scale(0.95);
    transition-duration: .7s;
  }




















  .group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 190px;
   }
   
   .input {
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    background-color: #fff;
    color: #0d0c22;
    transition: .3s ease;
   }
   
   .SearchIcon::placeholder {
    color: #9e9ea7;
   }
   
   .SearchIcon:focus, input:hover {
    outline: none;
    border-color: #08a88a;
    box-shadow: 0 0 0 4px rgb(8, 168, 138, 10%) ;
   }
   
   .SearchIcon {
    position: absolute;
    left: 10px;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }
   
   
   
   
   
   





















.bestDeals {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  border-radius: 17px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;

}

.bestDealsBox{
  position: static;
  margin-top: 76px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 256px;
  padding: 5px;
  border-radius: 17px;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}
















@media (max-width: 801px) {
  .sidebar-right {
    display: none;
  }
}

@media (max-width: 669px) {
  .sidebar-left {
    display: none;
  }
}
